{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>پتوس- پنل مدیریت</title>
	<meta name="author" content="reza-seeti"/>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

	<!-- Data table CSS -->
	<link href="{%  static  'vendors/bower_components/datatables/media/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>

	<!-- Toast CSS -->
	<link href="{%  static  'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{%  static  'vendors/dist/css/style.css' %}" rel="stylesheet" type="text/css">
  <!-- Switch Button -->
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
    {% block content %}

    {% endblock %}
    <!-- /#wrapper -->

	<!-- JavaScript -->

    <!-- jQuery -->
    <script src="{%  static  'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{%  static  'vendors/bower_components/Flot/excanvas.min.js' %}"></script>
  	<script src="{%  static  'vendors/bower_components/Flot/jquery.flot.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static  'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

	<!-- Data table JavaScript -->
	<script src="{%  static  'vendors/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>

	<!-- Slimscroll JavaScript -->
	<script src="{%  static  'vendors/dist/js/jquery.slimscroll.js' %}"></script>

	<!-- simpleWeather JavaScript -->
	<script src="{%  static  'vendors/bower_components/moment/min/moment.min.js' %}"></script>
	<script src="{%  static  'vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js' %}"></script>
	<script src="{%  static  'vendors/dist/js/simpleweather-data.js' %}"></script>

	<!-- Progressbar Animation JavaScript -->
	<script src="{%  static  'vendors/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
	<script src="{%  static  'vendors/bower_components/jquery.counterup/jquery.counterup.min.js' %}"></script>

	<!-- Fancy Dropdown JS -->
	<script src="{%  static  'vendors/dist/js/dropdown-bootstrap-extended.js' %}"></script>

	<!-- Sparkline JavaScript -->
{#	<script src="{%  static  'vendors/jquery.sparkline/dist/jquery.sparkline.min.js' %}"></script>#}

	<!-- Owl JavaScript -->
	<script src="{%  static  'vendors/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>

	<!-- Toast JavaScript -->
	<script src="{%  static  'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script>

	<!-- EChartJS JavaScript -->
	<script src="{%  static  'vendors/bower_components/echarts/dist/echarts-en.min.js' %}"></script>
	<script src="{%  static  'vendors/echarts-liquidfill.min.js' %}"></script>

	<!-- Switchery JavaScript -->
	<script src="{%  static  'vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>

	<!-- Init JavaScript -->
	<script src="{%  static  'vendors/dist/js/init.js' %}"></script>
	<script src="{%  static  'vendors/dist/js/dashboard-data.js' %}"></script>
{#	<script src="{%  static  'vendors/dist/js/schedule.js' %}"></script>#}
  <!-- Switch Button JavaScript -->
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

</body>

</html>
